.App {
  /* text-align: center; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  margin-block: 1rem;
  font-size: 3.5rem;
}

.app-content {
  background-color: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.send-message {
  margin-top: auto;
  /* background-color: aqua; */
  width: 1300px;
  display: flex;
  margin-bottom: 10px;
}

.send-message input{
  flex-basis: 300px;
  flex-grow: 1;
  height: 2rem;
  border-radius: 5px;
}

.send-message button {
  padding: .5rem;
  margin-left:5px;
}
form {
  display: flex;
  flex-direction: column;
  background-color: red;
  min-width: 500px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.form-row {
  background-color: aqua;
  display: flex;
}

.form-row input {
  flex-grow: 1;
  margin-left: 5px;
}

form input[type="submit"]{
  align-self: center;
  padding: .5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  text-transform: uppercase;
}

.info-group {
  background-color: yellow;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 1300px;
}

.messages-list{
  list-style: none;
  margin-block: 1rem;
  background-color: gold;
  width: 1300px;
  flex-grow: 1;
  border-radius: 10px;
  padding: 1rem;
  overflow-y: scroll;
}

.messages-list li {
  margin-block: .8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.time-badge {
  background-color: blueviolet;
  padding: .5rem;
  display: inline-block;
  border-radius: 5px;
}

.user-badge {
  background-color: greenyellow;
  display: inline-block;
  padding: .5rem 1.3rem;
  border-radius: 5px;
  margin-inline:10px;
}

.message {
  display: inline-block;
}